@use "../../scss/index" as *;

.contact_heading {
  text-align: center;
  font-size: 34px;
}
.contact_section {
  @include flex();
  gap: 40px;
}
.contact_text p {
  margin-top: 8px;
}
.contact_text h3 {
  width: 440px;
  font-size: 26px;
  margin-bottom: 24px;
}
.contact_text .icon {
  width: 26px;
  height: 26px;
}
.contact_text_whatsapp {
  @include flex();
  justify-content: left;
  gap: 8px;
}
.contact_text_mail {
  @include flex();
  justify-content: left;
  gap: 8px;
}
.contact_text_linkedin {
  @include flex();
  justify-content: left;
  gap: 8px;
}
.contact_lottie {
  width: 320px;
}
